* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #c8d6e5;
    --green: #1dd1a1;
    --darkgreen: #10ac84;
    --grey: #576574;
    --white: #fff;
}

/* PAGE ACTIONS */

.page-actions-cont {
    height: 3rem;
    background-color: var(--darkgreen);
    padding: 0 1em;
}

ul.page-action {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}

ul.page-action li {
    padding: 0 1em;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    cursor: pointer;
}

ul.page-action li:hover {
    background-color: var(--green);
}

/* CELL PROPS ACTIONS */

.cellprops-actions-cont {
    height: 2.5rem;
    background-color: var(--green);
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    gap: .15rem;
}

.cell-action {
    padding: 0 .25rem;
    cursor: pointer;
}

.cell-action:hover {
    color: var(--grey);
}

.font-family-prop {
    margin-right: .5rem;
}


/* FORMULA ACTIONS */

.formula-actions-cont {
    height: 2.5rem;
    background-color: var(--green);
    border-bottom: 1px solid var(--grey);
}

/* GRID CONTAINER */

.grid-cont {
    height: calc(100vh - (3rem + 3rem + 2.5rem + 2.5rem));
    background-color: var(--primary);
}

/* SHEET CONTAINER */

.sheet-cont {
    height: 3rem;
    background-color: var(--darkgreen);
}
