* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #c8d6e5;
    --green: #1dd1a1;
    --darkgreen: #10ac84;
    --grey: #576574;
    --white: #fff;
}

/* PAGE ACTIONS */

.page-actions-cont {
    height: 3rem;
    background-color: var(--darkgreen);
    padding: 0 1em;
}

ul.page-action {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}

ul.page-action li {
    padding: 0 1em;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    cursor: pointer;
}

ul.page-action li:hover {
    background-color: var(--green);
}

/* CELL PROPS ACTIONS */

.cellprops-actions-cont {
    height: 2.5rem;
    background-color: var(--green);
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    gap: .15rem;
    padding: 0 2rem;
}

.cell-action {
    padding: 0 .25rem;
    cursor: pointer;
}

.cell-action:hover {
    color: var(--grey);
}

.font-family-prop {
    margin-right: .5rem;
}


/* FORMULA ACTIONS */

.formula-actions-cont {
    height: 2.5rem;
    background-color: var(--green);
    border-bottom: 1px solid var(--grey);
    display: flex;
    padding: 0.5rem 2rem;
}

.cell-address {
    width: 5rem;
    text-align: center;
    outline: none;
    border: none;
}

.formula-container {
    display: flex;
    width: 100%;
}

.fx {
    width: 2rem;
    height: 100%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    color: #404f4d;
}

.formula-bar {
    height: 100%;
    width: calc(100% - 2rem);
    outline: none;
    border: none;
}

/* GRID CONTAINER */

.grid-cont {
    height: calc(100vh - (3rem + 4rem + 2.5rem + 2.5rem));
    background-color: var(--primary);
    margin: .25rem;
}

.dummy-cell {
    height: 2rem;
    width: 2rem;
}

.row-names-container {
    height: 10rem;
    width: 2rem;
}

.row-names-container .row-name {
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    border: 1px solid black;
}

.column-names {
    height: 2rem;
    position: absolute;
    background-color: green;
}

.cells {
    height: calc(100vh - (13.5rem));
    background-color: chocolate;
    display: flex;
}

/* SHEET CONTAINER */

.sheet-cont {
    height: 4rem;
    background-color: var(--darkgreen);
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.sheet-cont > * {
    display: inline-block;
    padding-right: 1rem;
}

.sheet-add-icon {
    font-size: 2rem;
    cursor: pointer;
}

.sheets-folder-container {
    display: flex;
    height: 1.25rem;
    align-items: end;
    font-weight: 600;
}

.sheet-folder {
    padding-right: 1rem;
    text-decoration: underline 0.25rem var(--primary);
    cursor: pointer;
}

.sheet-folder:hover {
    color: var(--white);
    text-decoration-color: var(--green);
}